<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">AppSpeech</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#appNavBar" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="appNavBar">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

      <li class="nav-item" *ngFor="let route of routes">
          <a class="nav-link" routerLinkActive="active" routerLink="{{route.path}}">
              <i class="{{route.iconClass}}" *ngIf="route.iconClass" aria-hidden="true"></i> {{ route.linkText }}
          </a>
      </li>

    </ul>
  </div>
</nav>
